<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=1024"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>portfolio</title>

    <meta name="description" content=""/>
    <meta name="author" content="Kazumi Harada"/>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic"
          rel="stylesheet"/>
</head>

<body class="impress-not-supported">
<div id="impress">
    <div id="one" class="step" data-x="0" data-y="0">
        1
        <button class="one">1</button>
        <button class="two">2</button>
        <button class="three">3</button>
        <button class="four">4</button>
        <button class="five">5</button>
    </div>
    <div id="two" class="step" data-x="1000" data-y="-1000">
        2
    </div>
    <div class="step" data-x="1000" data-y="1000">
        3
    </div>
    <div class="step" data-x="-1000" data-y="-1000">
        4
    </div>
    <div class="step" data-x="-1000" data-y="1000">
        5
    </div>
</div>

<script src="js/impress.js"></script>
<script src="js/jquery3.2.1.js"></script>
<script src="js/index.js"></script>
</body>
</html>
